[submodule "tasks/common"]
	path = tasks/common
	url = ../../ansible-common-tasks.git
[submodule "inventory"]
	path = inventory
	url = ../../ansible-inventory.git
[submodule "environment"]
	path = environment
	url = ../../ansible-environment.git
