{{ lookup('file', "../../../certificate_authority/hosts/{{ inventory_hostname }}/chain.pem") }}
{{ lookup('file', "../../../sensitive_certificate_authority/hosts/{{ inventory_hostname }}/key.pem") }}
